.pageTitle {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: bold;
}

@media (min-width: 1024px) {
    .pageHeading {
        display: flex;
        justify-content: space-between;
    }
}