.beer-title {
    font-size: 20px;
    font-family: "Montserrat";
}

.page-title {
    font-size: 24px;
    font-family: "Montserrat";
}

.inline-list {
    list-style: none;
}

.inline-list .list-item {
    display: inline;
    padding: 0 1em;
}

.inline-list .list-item:not(:last-child) {
    border-right: 1px solid black;
}